kind: Deployment
apiVersion: apps/v1
metadata:
  name: todo-deployment-app
  namespace: todo-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
      - name: django-app
        image: akj49/django-todo-app:latest
        command: ["sh", "-c", "python manage.py migrate --noinput && gunicorn --bind 0.0.0.0:8000 todo_project.wsgi"]
        ports:
        - containerPort: 8000
        env:
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: db_name
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: db_user
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: db_password
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: db_host
          - name: IP
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: ip
