kind: Deployment
apiVersion: apps/v1
metadata:
  name: mysql
  namespace: todo-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:latest
        ports:
        - containerPort: 3306
        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: mysql_root_password
          - name: MYSQL_DATABASE
            valueFrom:
              secretKeyRef:
                name: todo-secret
                key: mysql_database
